.dashboard-container {
    min-height: 100vh;
}

.dashboard-container .section {
    margin: 20px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    min-height: 50vh;
}

.section h2 {
    margin-bottom: 10px;
    color: #333;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

.welcome-heading {
    font-weight: bold;
    color: #333;
    width: fit-content;
    word-wrap: break-word;
    overflow-wrap: break-word;
    margin: 20px auto;
    line-height: 1.2;
}


@media (max-width: 1200px) {
    .welcome-heading {
        font-size: 3rem;
    }
}

@media (max-width: 992px) {
    .welcome-heading {
        font-size: 2.5rem;
    }
}

@media (max-width: 768px) {
    .welcome-heading {
        font-size: 2rem;
    }
}

@media (max-width: 576px) {
    .welcome-heading {
        font-size: 1.8rem;
    }
}

@media (max-width: 400px) {
    .welcome-heading {
        font-size: 1.5rem;
    }
}