@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?&family=Metamorphous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@300..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader {
    border-top: 2px solid #f3f3f3;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    margin-left: 5px;
    animation: spin 1s linear infinite;
    display: none;
}

/* Notification styles */
.notification {
    width: 40%;
    max-width: 75%;
    padding: 15px;
    text-align: left;
    font-size: 16px;
    font-weight: bold;
    position: fixed;
    top: 80px;
    right: 0;
    transition: all 0.3s ease;
    word-wrap: break-word;
    box-sizing: border-box;
    z-index: 9999;
    visibility: hidden;
    opacity: 0;
    transform: translateX(100%);
}

.notification.visible {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.notification.success {
    background-color: #489f49;
    color: white;
}

.notification.error {
    background-color: #F44336;
    color: white;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background: #f39d12c8;
    color: #fff;
    border: none;
    border-radius: 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-size: 24px;
    cursor: pointer;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.4s ease;
}

#backToTop.show {
    opacity: 1;
    visibility: visible;
}

#backToTop:hover {
    transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
    .notification {
        width: 70%;
    }
}

@media only screen and (max-width: 530px) {

    #backToTop {
        width: 40px;
        height: 40px;
        font-size: 16px;
        bottom: 40px;
        right: 20px;
    }
}