@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Titillium+Web:ital,wght@0,400;1,600&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0;
    background-color: #f0f0f0;
    /* background: url('../images/asian-lady-bg.jpg') no-repeat center center fixed; */
    font-family: "Josefin Sans", "Quattrocento Sans", Arial, sans-serif;
}

.error-container {
    padding: 10rem 5rem;
    text-align: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 90%;
    margin: 10px;
}

.error-icon {
    font-size: 5rem;
    color: #a30000;
    border: #a30000 solid 5px;
    border-radius: 50%;
    padding: 1rem 2rem;
    display: inline-block;
    font-family: Arial, sans-serif;
}

.error-container h1 {
    font-size: 36px;
    margin: 20px 0 10px;
}

.error-container p {
    font-size: 18px;
    color: #666;
    margin: 10px 0 30px;
    font-family: "Titillium Web";
}

.error-container button {
    padding: 10px 20px;
    font-size: 18px;
    color: white;
    background: #6a0dad;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.error-container button:hover {
    background: #a94dd0;
}

.error-container button:focus {
    box-shadow: 0 0 8px 2px rgba(106, 13, 173, 0.396);
    outline: none;
    background: #a94dd0;
}


/* Responsive Styles */
@media (max-width: 768px) {
    body {
        height: 100vh;
        padding: 20px;
        flex-direction: column;
    }

    .error-container {
        padding: 5rem 3rem;
        margin: 10px;
        max-width: 95%;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .error-icon {
        font-size: 3rem;
        padding: 0.8rem 1.5rem;
        border-width: 4px;
    }

    .error-container h1 {
        font-size: 28px;
    }

    .error-container p {
        font-size: 16px;
    }

    .error-container button {
        font-size: 16px;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    body {
        padding: 10px;
    }

    .error-container {
        padding: 2rem 1rem;
        margin: auto;
    }

    .error-icon {
        font-size: 2.5rem;
        padding: 0.6rem 1rem;
        border-width: 3px;
    }

    .error-container h1 {
        font-size: 24px;
    }

    .error-container p {
        font-size: 14px;
    }

    .error-container button {
        font-size: 14px;
        padding: 6px 12px;
    }
}