{% extends "base_admin_dashboard.html" %}
{% block styles_content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/admin_dashboard.css') }}">
{% endblock styles_content %}

{% block main_content %}
    <div class="quiz-container">
        {% if quizzes %}
        {% for quiz in quizzes %}
        <div class="quiz-card" data-quiz-id="{{ quiz.id }}">        
            <h2 class="quiz-title">{{ quiz.title }}</h2>
            <p class="quiz-description">
                {{ quiz.description }}
            </p>
            <div class="quiz-details">
                <div class="detail-item question-count">
                    <i class="fas fa-list"></i>
                    {{ quiz.questions|length }} {% if quiz.questions|length > 1 %}Questions{% else %}Question{% endif %}
                </div>
                <div class="detail-item question-duration">
                    <i class="fas fa-clock"></i>
                    {{ quiz.duration }} {% if quiz.duration > 1 %}Minutes{% else %}Minute{% endif %}
                </div>
                <div class="detail-item quiz-category">
                    <i class="fas fa-tag"></i>
                    {{ quiz.related_category.name if quiz.related_category else None }}
                </div>
            </div>
            <div class="quiz-meta">
                <div class="author">
                    {% if quiz.user.profile_picture %}
                    <img class="author-profile" src="{{ quiz.user.profile_picture }}" alt="Profile Picture">
                    {% else %}
                    <img class="author-profile" src="{{ url_for('static', filename='images/default_image.jpg') }}" alt="Default Profile">
                    {% endif %}
                    <!-- <i class="fas fa-user"></i> -->
                    <span class="ellipsis">{{ quiz.user.first_name ~ " " ~ quiz.user.last_name }}</span>
                </div>
                <span class="dot"></span>
                <div class="time-created">{{ quiz.created_at|timeago }}</div>
            </div>
            <div class="quiz-actions">
                <button type="button" class="btn take-btn" title="Take Quiz">
                    <i class="fas fa-play"></i>
                    Take Quiz
                </button>
            </div>
        </div>
        {% endfor %}
        {% else %}
        {% include 'no-quiz-admin2.html' %}
        {% endif %}
    </div>
    <div class="dashboard-container" id="dashboard-container">
        <section id="dashboard">
            <div class="section">
                {% if leaderboard %}
                <h2>Leaderboard</h2>
                <ul>
                    {% for entry in leaderboard %}
                    <li>{{ entry.username }} - {{ entry.score }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    {% include 'no-leader.html' %}
                {% endif %}
            </div>
            <div class="section">
                {% if notifications %}
                <h2>Notifications</h2>
                <ul>
                    {% for notification in notifications %}
                    <li>{{ notification.content }} - {{ notification.date_posted }}</li>
                    {% endfor %}
                </ul>
                {% else %}
                    {% include 'no-notif.html' %}
                {% endif %}
            </div>
            <div class="section">
                {% if history %}
                <h2>Quiz History</h2>
                <ul>
                    {% for quiz in quizzes %}
                    <li>
                        <strong>{{ quiz.title }}</strong> - Score: {{ quiz.score }} / {{ quiz.max_score }}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    {% include 'no-history.html' %}
                {% endif %}
            </div>
        </section>
    </div>
{% endblock main_content %}

{% block scripts %}
    <script  type="module" src="{{ url_for('static', filename='js/admin_dashboard.js') }}"></script>
{% endblock scripts %}