<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{ title }} | Quizzen</title>
    {% else %}
    <title>Quizzen</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">

	<!-- ****************Icons library************** -->
	<link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

	<!-- ****************local CSS************** -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/sections.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/signup.css') }}">

</head>

<body>
	<header class="header scrolled sub-header" id="header">
		<div class="logo-container">
			<a href="{{ url_for('full_bp.home') }}" class="logo-text">
				<h1 culass="logo-name sub-header">Quizzen</h1>
				<p class="slogan sub-header">...Unleash your inner genius</p>
			</a>
		</div>

		<input type="checkbox" id="check">
		<label for="check" class="icons">
			<i class='bx bx-menu' id="menu-icon"></i>
			<i class='bx bx-x' id="close-icon"></i>
		</label>
		<nav class="tabs sub-header">
			<ul>
				<li id=""><a href="#">Enter Code</a></li>
            {% if title == 'Sign up' %}
                <li id=""><a href="{{ url_for('full_bp.login') }}" class="button-log-in">Log In</a></li>
            {% elif title == 'Login' %}
                <li id=""><a href="{{ url_for('full_bp.signup') }}" class="button-sign-up">Sign Up</a></li>
            {% else %}
                <li id=""><a href="{{ url_for('full_bp.login') }}" class="button-log-in">Log In</a></li>
                <li id=""><a href="{{ url_for('full_bp.signup') }}" class="button-sign-up">Sign Up</a></li>
            {% endif %}
			</ul>
		</nav>
	</header>
    {% block child_content %}
    {% endblock child_content %}
    
	{% block scripts %}
	{% endblock scripts %}
</body>

</html>