{% extends "base.html" %}
{% block styles_content %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/dashboard.css') }}">
{% endblock styles_content %}

{% block nav_content %}
                <li id=""><a href="{{ url_for('full_bp.logout') }}" class="button-log-out">Log Out</a></li>
{% endblock nav_content %}

{% block child_content %}
    <div class="dashboard-container" id="dashboard-container">
        <h1>Welcome, {{ user.username }}</h1>
        <section id="dashboard">
            <div class="section">
                <h2>Your Quizzes</h2>
                <ul>
                    {% for quiz in user.quizzes %}
                    <li>
                        <strong>{{ quiz.title }}</strong> - Score: {{ quiz.max_score }} / {{ quiz.max_score }}
                        <!-- <a href="{{ url_for('full_b.edit_quiz', quiz_id=quiz.id) }}">View Details</a> -->
                    </li>
                    {% endfor %}
                </ul>
                <a href="{{ url_for('full_bp.create_quiz') }}" class="button">Create New Quiz</a>
            </div>
            <div class="section">
                <h2>Leaderboard</h2>
                <ul>
                    {% for entry in leaderboard %}
                    <li>{{ entry.username }} - {{ entry.score }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section">
                <h2>Notifications</h2>
                <ul>
                    {% for notification in notifications %}
                    <li>{{ notification.content }} - {{ notification.date_posted }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="section">
                <h2>Quiz History</h2>
                <ul>
                    {% for quiz in quizzes %}
                    <li>
                        <strong>{{ quiz.quiz.title }}</strong> - Score: {{ quiz.score }} / {{ quiz.quiz.max_score }}
                        <!-- <a href="{{ url_for('view_quiz_history', quiz_history_id=quiz.id) }}">View Details</a> -->
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </section>
    </div>
{% endblock child_content %}

{% block scripts %}
    <script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
{% endblock scripts %}