<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if quiz %}
    <title>Quiz: {{ quiz.title}} | Quizzen</title>
    {% else%}
    <title>Quiz | Quizzen</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">

    <!-- ****************Icons library************** -->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- ****************local CSS************** -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_question.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/base_styles.css') }}">
</head>

<body>
    <div class="layout">
        <header class="header">
            <div class="header-left">
                <button class="btn btn-back">
                    <i class="fas fa-arrow-left"></i>
                </button>
                <select id="question-type" name="question-type">
                    <option value="multiple_choice" {% if question and question.question_type=="multiple_choice"
                        %}selected{% endif %}>Multiple Choice</option>
                    <option value="short_answer" {% if question and question.question_type=="short_answer" %}selected{%
                        endif %}>Short Answer</option>
                </select>
            </div>
            <div class="header-right">
                <div class="three-dots">
                    <button class="btn" id="toggle-menu">
                        <i class="fas fa-ellipsis-v"></i>
                    </button>
                </div>
                <div class="menu-content">
                    <input class="custom-point" name="custom-point" type="number" min="1" max="100"
                        placeholder="Enter points" value="1" />
                    <select class="point-select" id="point-select">
                        {%if question %}
                        <option value="1" {{ 'selected' if question.points==1 else '' }}>1 Point</option>
                        <option value="2" {{ 'selected' if question.points==2 else '' }}>2 Points</option>
                        <option value="3" {{ 'selected' if question.points==3 else '' }}>3 Points</option>
                        <option value="4" {{ 'selected' if question.points==4 else '' }}>4 Points</option>
                        <option value="5" {{ 'selected' if question.points==5 else '' }}>5 Points</option>
                        <option value="other" {{ 'selected' if question.points not in [1, 2, 3, 4, 5] else 'other' }}>
                            Custom
                            point
                        </option>
                        {% else %}
                        <option value="1" selected>1 Point</option>
                        <option value="2">2 Points</option>
                        <option value="3">3 Points</option>
                        <option value="4">4 Points</option>
                        <option value="5">5 Points</option>
                        <option value="other">Custom point</option>
                        {% endif %}
                    </select>
                </div>
                <div class="top-save-button">
                    <button type="submit" class="btn publish-btn publish-top" data-tooltip="">
                        <i class="fas fa-save"></i> Save
                        <div class="loader"></div>
                    </button>
                </div>
            </div>
        </header>
        <div id="notification" class="notification" aria-live="polite"></div>
        <main class="content">
            <div class="container">
                <form class="responsive-form" id="question-form">
                    <input type="hidden" id="question-id" name="question_id" value="{% if question %}{{ question.id }}{% else %}{% endif %}">
                    <div class="form-group">
                        <textarea class="question" id="question" name="question"
                            placeholder="Type question here">{% if question %}{{ question.question_text }}{% else %}{% endif %}</textarea>
                    </div>
                    <div class="options-container" id="options-container">
                    {% if question %}
                        {% if question.question_type == 'multiple_choice' %}
                            {% for option in question.answer_choices %}
                            <div class="option-box">
                                <i class="fas fa-trash delete-option" title="Delete answer option"></i>
                                <input type="{{ 'checkbox' if question.is_multiple_response else 'radio' }}" name="option"
                                    tabindex="-1" title="Mark as correct" {{ 'checked' if option.is_correct else '' }}>
                                <input type="text" name="option" placeholder="Type answer option here"
                                    value="{{ option.text }}">
                            </div>
                            {% endfor %}
                            <i class="fas fa-plus add-option" title="Add another option"></i>
                        {% elif question.question_type == 'short_answer' %}
                            <div class="short-answer-container">
                                <div class="overlay-container">
                                    <input type="text" class="short-answer-input" name="short-answer-input"
                                        placeholder="Type answer here"
                                        value="{{ question.answer_choices[0].text if question.answer_choices else '' }}">
                                </div>
                                <!-- Check if Alternative Answers should be displayed -->
                                <div class="alternative-answer"
                                    style="display: {{ 'flex;' if question.answer_choices|length > 1 else 'none;' }}">
                                    <p>Alternative Options</p>
                                    <div class="alternative-answer-content">
                                        {% for option in question.answer_choices[1:] %}
                                        <div class="alternative-answer-box">
                                            <input type="text" class="short-answer-input"
                                                name="alternative-short-answer-input"
                                                placeholder="Type alternative answer here" value="{{ option.text }}">
                                            <i class="fas fa-trash delete-option-sa" title="Delete alternative answer"></i>
                                        </div>
                                        {% endfor %}
                                        <div class="add-option-container add-option-sa">
                                            <i class="fas fa-plus" title="Add an alternative answer"></i>
                                            Add alternative answer
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% else %}
                        {% for i in range(4) %}
                        <div class="option-box">
                            <i class="fas fa-trash delete-option" title="Delete answer option"></i>
                            <input type="radio" name="option" tabindex="-1" tabindex="-1" title="Mark as correct">
                            <input type="text" name="option" placeholder="Type answer option here">
                        </div>
                        {% endfor %}
                        <i class="fas fa-plus add-option" title="Add another option"></i>
                    {% endif %}
                    </div>
                    <div class="toggle-container">
                        <div class="toggle-multiple-response" style="display: {{ 'none;' if question and question.question_type == 'short_answer' else 'flex' }}">
                            <label class="toggle-label">
                                <input type="checkbox" id="multiple-response" name="multiple-response" {{ 'checked' if question and question.question_type == 'multiple_choice' and
                                    question.is_multiple_response else ''}}>
                                <span class="slider">
                                </span>
                            </label>
                            <span>Allow Multiple Responses
                        </div>
                        <div class="toggle-alternative-response" style="display: {{ 'flex;' if question and question.question_type == 'short_answer' else 'none' }}">
                            <label class="toggle-label">
                                <input type="checkbox" id="alternative-response" name="alternative-response"
                                    {{ 'checked' if question and question.question_type == 'short_answer' and question.answer_choices|length> 1 else '' }}>
                                <span class="slider"></span>
                            </label>
                            <span>Allow Alternative Answers
                        </div>
                    </div>
                    <div id="tooltip" class="tooltip"></div>
                    {% if question %}
                    <input type="hidden" name="_method" value="PUT"> 
                    {% else %}
                    <input type="hidden" name="_method" value="POST"> 
                    {% endif %}
                </form>
            </div>
        </main>

        <footer class="footer">
            <div class="bottom-save-button">
                <button type="submit" class="btn publish-btn publish-bottom" data-tooltip="">
                    <i class="fas fa-save"></i> Save
                    <div class="loader"></div>
                </button>
            </div>
        </footer>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/edit_question.js') }}"></script>
    <script type="module" src="{{ url_for('static', filename='js/utils.js') }}"></script>
</body>

</html>