{% extends "quiz_base.html" %}

{% block styles_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/edit_quiz.css') }}">
{% endblock styles_content %}

{% block header_content %}
<div class="header-left">
    <button class="btn back-btn">
        <a href="{{ url_for('full_bp.dashboard') }}">
            Back
        </a>
    </button>
    <h1 class="quiz-title">{{ title }}</h1>
</div>
<div class="header-right">
    <button class="btn settings-btn">
        <i class="fas fa-cog"></i> Settings
    </button>
    <button class="btn publish-btn">
        <i class="fas fa-save"></i> Publish
    </button>
</div>
{% endblock header_content %}

{% block main_content %}
{% for question in quiz.questions|sort(attribute='id') %}
<section class="question-card">
    <div class="question-header">
        <div class="question-info">
            <span class="question-num-type">
                <i class="fas fa-check"></i>
                1. {{ question.question_type.replace('_', ' ').capitalize() }}
            </span>
            <select class="point-select" onchange="handleSelectChange(event)">
                <option value="1" {% if question.points==1 %}selected{% endif %}>1 Point</option>
                <option value="2" {% if question.points==2 %}selected{% endif %}>2 Points</option>
                <option value="3" {% if question.points==3 %}selected{% endif %}>3 Points</option>
                <option value="4" {% if question.points==4 %}selected{% endif %}>4 Points</option>
                <option value="5" {% if question.points==5 %}selected{% endif %}>5 Points</option>
                <option value="other">Custom point</option>
            </select>
            <input class="custom-point" type="number" min="1" max="100" placeholder="Enter points"
                value="{{ question.points }}" onkeypress="handleKeyPress(event)" style="display: none;" />
        </div>
        <div class="question-actions">
            <button class="btn edit-btn"><i class="fas fa-edit"></i> Edit</button>
            <button class="btn delete-btn"><i class="fas fa-trash"></i> Delete</button>
        </div>
    </div>

    <div class="question-body">
        <p class="question-text">{{ question.question_text }}</p>
        <p class="option-info">Options</p>
        <ul class="answer-choices">
            {% for option in question.answer_choices %}
            <li>
                <i class="fas {% if option.is_correct %}fa-check{% else %}fa-times{% endif %}"></i>
                {{ option.text }}>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
{% endfor %}
<div class="bottom-add">
    <button id="add-question-btn" class="btn add-question-btn" data-quiz-id="{{ quiz.id }}">
      <i class="fas fa-plus"></i> Add Question
    </button>
  </div>
{% endblock main_content %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/edit_quiz.js') }}"></script>
{% endblock scripts %}