<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Quizzen - Unleash Your Inner Genius</title>

	<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon-32x32.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">

    <!-- ****************Icons library************** -->
    <link rel='stylesheet' href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- ****************local CSS************** -->
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
	<header class="header">
		<div class="logo">
			<a href="{{ url_for('full_bp.home') }}" class="logo-text">
				<img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
			</a>
		</div>
		<nav class="navbar">
			<a href="#about" class="nav-hide">About Us</a>
			<a href="#quizzes" class="nav-hide">Quizzes</a>
			<a href="#team" class="nav-hide">Our Team</a>
			<a href="#contact" class="nav-hide">Contact Us</a>
			<a href="/quizzen/login" class="login-btn">Login</a>
			<a href="/quizzen/signup" class="signup-btn">Create Account</a>
		</nav>
	</header>
	<div id="notification" class="notification" aria-live="polite"></div>
	<section class="hero">
		<div class="container">
			<h2>Unleash Your Inner Genius</h2>
			<p>Welcome to Quizzen, the ultimate destination for challenging, fun, and engaging quizzes! <br> Whether
				you're
				here to test your knowledge, learn something new, or simply enjoy a fun brain exercise, we've got you
				covered.</p>
			<a href="/quizzen/signup" class="cta-btn">Join Us Now</a>
		</div>
	</section>

	<section id="about" class="about">
		<div class="container">
			<h2>About Quizzen</h2>
			<p>
				Quizzen is more than just a quiz app; it's a community of learners, thinkers, and explorers. From
				general knowledge to niche topics, we offer quizzes designed to challenge your mind and spark your
				curiosity. Each quiz is meticulously crafted to provide a balance of fun and education.
			</p>
			<p>
				With Quizzen, you can:
			</p>
			<ul>
				<div class="list-items">
					<li>Explore thousands of quizzes on a variety of topics.</li>
					<li>Compete with friends and track your scores.</li>
					<li>Learn while having fun and discover new areas of interest.</li>
				</div>
			</ul>
		</div>
	</section>

	<section id="quizzes" class="quizzes">
		<div class="container">
			<h2>Preview Our Quizzes</h2>
			<div class="quiz-list">
				<div class="index-quiz-card">
					<h3>General Knowledge Quiz</h3>
					<p>Test your understanding of the world around you. From history to science, see how much you know!
					</p>
					<div class="fade-overlay">Join to View</div>
				</div>
				<div class="index-quiz-card">
					<h3>Science Trivia</h3>
					<p>Dive deep into the world of science and discover fascinating facts.</p>
					<div class="fade-overlay">Join to View</div>
				</div>
				<div class="index-quiz-card">
					<h3>Pop Culture Quiz</h3>
					<p>Are you a pop culture enthusiast? Test your knowledge of movies, music, and trends.</p>
					<div class="fade-overlay">Join to View</div>
				</div>
			</div>
			<a href="/quizzen/signup" class="cta-btn">Create an Account to Access Full Quizzes</a>
		</div>
	</section>

	<div class="team-container" id="team">
		<h2>Meet the Team</h2>
		<div class="team-members">
			<div class="team-member">
				<img id="emmanuel" src="{{ url_for('static', filename='images/emmanuel.jpeg') }}"
					alt="Emmanuel Ademola - Team member">
				<h4>Emmanuel Ademola <br> &lt;&sol;Emmy-Dee&gt;</h4>
				<h5>Team Lead &amp; Back-end Developer</h5>
				<p>With an extensive background in back-end development and project management, Emmanuel leads
					the team, designing and managing APIs to ensure seamless system communication
				</p>
				<div class="team-socials">
					<a href="https://github.com/emmanueldev247" target="_blank" title="Github"><i
							class="fab fa-github"></i></a>
					<a href="https://www.linkedin.com/in/emmanueldev247" title="LinkedIn"><i
							class="fab fa-linkedin"></i></a>
					<a href="https://twitter.com/emmanueldev247" title="Twitter"><i class="fab fa-twitter"></i></a>
				</div>
			</div>
			<div class="team-member">
				<img id="moradeyo" src="{{ url_for('static', filename='images/moradeyo.jpeg') }}"
					alt="Moradeyo Adegboro - Team member">
				<h4>Moradeyo<br>Adegboro</h4>
				<h5>Front-end Developer</h5>
				<p>Leveraging upon her expertise in UI/UX design and front-end technologies, Mubby is entrusted with the
					front-end development tasks, ensuring intuitive and visually appealing user interfaces that enhance
					overall user experience</p>
				<div class="team-socials">
					<a href="https://github.com/Iremi24" target="_blank" title="Github"><i
							class="fab fa-github"></i></a>
					<a href="#" title="LinkedIn"><i
							class="fab fa-linkedin"></i></a>
					<a href="#" title="Twitter"><i class="fab fa-twitter"></i></a>
				</div>
			</div>
		</div>
	</div>
	<section class="contact-wrapper" id="contact">
		<div class="contact-container">
			<div class="contact-div">
				<h2 class="contact-h2">Contact Us</h2>
				<div class="contact-details-gp">
					<div class="contact-details">
						<div class="icon-details">
							<i class="fa-regular fa-paper-plane fa-2xl"></i>
							<span class="details">EMAIL:</span>
							<span class="sub-details">
								<a
									href="mailto:quizzen@emmanueldev247.publicvm.com">quizzen@emmanueldev247.publicvm.com</a>
							</span>
						</div>
						<div class="icon-details">
							<i class="fa-solid fa-location-dot fa-2xl"></i>
							<span class="details">ADDRESS:</span>
							<span class="sub-details">
								<a href="https://www.google.com/maps/search/?api=1&query=Lagos,+Nigeria"
									target="_blank">Lagos, Nigeria</a>
							</span>
						</div>
						<div class="icon-details">
							<i class="fa-solid fa-phone fa-2xl"></i>
							<span class="details">PHONE:</span>
							<span class="sub-details">
								<a href="tel:+2348050208547">+234-805-020-8547</a>
							</span>
						</div>
						<div class="icon-details">
							<i class="fa-brands fa-whatsapp fa-2xl"></i>
							<span class="details">WHATSAPP:</span>
							<span class="sub-details">
								<a href="https://wa.link/kynymr" target="_blank">+234-805-020-8547</a>
							</span>
							<span class="sub-details"></span>
						</div>
					</div>
				</div>
			</div>
			<div id="contact-us-form" class="contact-form">
				<!-- Contact form here -->
				<h2>Get in Touch</h2>
				<form action="/quizzen/contact" method="POST" name="contact-us" class="contact-us-form-class">
					<input id="sender_name" autocomplete="on" type="text" name="name" placeholder="Name" required>
					<input id="sender_email" autocomplete="on" type="email" name="email" placeholder="Email" required>
					<input id="sender_subject" type="text" name="subject" placeholder="Subject" required>
					<textarea id="sender_message" name="message" placeholder="Message" required></textarea>
					<button type="submit" class="submit-contact">
						Send Message
						<div class="loader"></div>
					</button>
				</form>
				{% if scroll_to_contact %}
					<script>
  					window.onload = function() {
    					const targetElement = document.getElementById("contact-us-form");
    					if (targetElement) {
							targetElement.scrollIntoView({ behavior: "smooth" });
						}
					};	
					</script>
				{% endif %}
				{% with messages = get_flashed_messages() %}
				{% if messages %}
				<script type="module">
					import { showNotification } from '/quizzen/assets/js/utils.js';
					document.addEventListener('DOMContentLoaded', () => {
						const flashMessages = JSON.parse('{{ messages | tojson | safe }}');
						flashMessages.forEach(([message, category]) => {
							showNotification(message, category);
						});
					});
				</script>
				{% endif %}
				{% endwith %}
			</div>
		</div>
	</section>
	<button id="backToTop" title="Back to Top"><i class="fa-solid fa-arrow-up"></i></button>
	<footer class="footer">
    <p>&copy; 2025 Quizzen. All Rights Reserved.</p>
    <p>
        <a href="{{ url_for('full_bp.api_doc') }}" class="footer-link">API Documentation</a> |
        <a href="{{ url_for('full_bp.privacy_policy') }}" class="footer-link">Privacy Policy</a> |
        <a href="{{ url_for('full_bp.tos') }}" class="footer-link">Terms of Service</a>
    </p>
</footer>
	<script type="module" src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>