{% extends "base.html" %}

{% block styles_content %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock styles_content %}
{% block header_content%}
			<a href="{{ url_for('full_bp.signup') }}" class="button-sign-up">
				Signup
			</a>
{% endblock header_content%}

{% block nav_content %}
	<button class="signup-button">
		Signup
	</button>
{% endblock nav_content %}

{% block child_content %}
	<div class="login-container" id="login-container">
		<form class="login-form" id="login-form">
			<h2>Log in to Quizzen</h2>
			<div id="login-warning" class="login-warning" style="display: none;" aria-live="polite">
				<div class="alert-icon">
					<i class="fa-solid fa-triangle-exclamation"></i>
				</div>
				<span></span>
			</div>
			<input type="email" id="email" name="email" placeholder="Email" aria-label="Email Address" required
				autocomplete="email">
			<div class="password-field">
				<input type="password" id="password" name="password" placeholder="Password" aria-label="Password" required
				autocomplete="current-password">
				<i class="fa-solid fa-eye toggle-password" data-toggle="password" title="Show password"></i>
			</div>

			<a href="javascript:void(0)" class="forgot-password" id="forgot-password">Forgot Password?</a>
			<button type="submit" id="login-button" aria-label="Login to your account">
				Log in
				<div class="loader"></div>
			</button>
		</form>

		<form class="login-form" id="reset-password-form" style="display: none;">
			<h2>Reset Password</h2>
			<div id="reset-password-warning" class="login-warning" style="display: none;" aria-live="polite">
				<div class="alert-icon">
					<i class="fa-solid fa-triangle-exclamation"></i>
				</div>
				<span></span>
			</div>
			<div id="reset-password-success" class="reset-success" style="display: none;" aria-live="polite">
				<div class="alert-icon">
					<i class="fa-solid fa-circle-check"></i>
				</div>
				<span></span>
			</div>
			<p>Please enter the email associated with your account</p>
			<input type="email" id="email2" name="email" placeholder="Email" aria-label="Emmanuel Address" required
				autocomplete="email">
			<a href="javascript:void(0)" class="back-to-login" id="back-to-login">
				<i class='bx bx-arrow-back'></i>
				<span>Back to login</span>
			</a>
			<button type="submit" id="reset-password-button" aria-label="Reset your password">
				Reset password
				<div class="loader"></div>
			</button>
		</form>
		<div class="social-login" id="social-login">
			<h4>or continue with</h4>
			<button class="google-btn">
				<img src="{{ url_for('static', filename='images/google.svg') }}" alt="Sign in with Google">
				<div class="loader-auth"></div>
			</button>
			<!-- <button class="google-login">
				<i class='bx bxl-google'></i>
			</button> -->
			<!-- <button class="microsoft-login">
				<i class='bx bxl-microsoft'></i>
			</button>
			<button class="facebook-login">
				<i class='bx bxl-facebook'></i>
			</button> -->
		</div>
		<div class="signup-link" id="signup-link">
			<p>Don't have an account? <a href="{{ url_for('full_bp.signup') }}">Sign up</a></p>
		</div>
	</div>
{% endblock child_content %}

{% block scripts %}
	<script type="module" src="{{ url_for('static', filename='js/login.js') }}"></script>
{% with messages = get_flashed_messages(with_categories=true) %}
	{% if messages %}
		<script type="module">
			import { showNotification } from '/quizzen/assets/js/utils.js';
			document.addEventListener('DOMContentLoaded', () => {
				const flashMessages = JSON.parse('{{ messages | tojson | safe }}');
				flashMessages.forEach(([category, message]) => {
					showNotification(message, category);
				});
			});
		</script>				
	{% endif %}
{% endwith %}
{% endblock scripts %}