{% extends "base.html" %}
{% block nav_content %}
<li id=""><a href="{{ url_for('full_bp.login') }}" class="button-log-in">Log In</a></li>
<li id=""><a href="{{ url_for('full_bp.signup') }}" class="button-sign-up">Sign Up</a></li>
{% endblock nav_content %}
{% block child_content %}
<div class="reset-password-container" id="reset-password-container">
	<form method="POST" class="reset-password-form" id="reset-password-form">
		<h2>Reset Your Password</h2>
		<div id="password-container" style="display: none;">
			<div class="password-field">
				<input type="password" id="password" name="password" placeholder="Password" aria-label="Password"
					required>
				<i class="fa-solid fa-eye toggle-password" data-toggle="password" title="Show password"></i>
			</div>
			<div id="password-error" class="error-message" style="display: none;" aria-live="polite"></div>
			<div id="password-strength-error" class="error-message" style="display: none;" aria-live="polite"></div>
			<input type="password" id="c_password" name="c_password" placeholder="Confirm Password"
				aria-label="Confirm Password" required>
			<div id="c_password-error" class="error-message" style="display: none;" aria-live="polite"></div>
			<div id="c_password-error2" class="error-message" style="display: none;" aria-live="polite"></div>
			<button type="submit" id="submit-button" aria-label="Reset your password">Reset Password</button>
		</div>
	</form>
</div>
{% endblock child_content %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/reset-password.js') }}"></script>
{% endblock scripts %}