<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title> {{ title }} | Quizzen</title>
    {% else %}
    <title>Quizzen</title>
    {% endif %}
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon/favicon.ico') }}">
    <link rel="manifest" href="{{ url_for('static', filename='images/favicon/site.webmanifest') }}">

    <!-- ****************Icons library************** -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">

    <!-- ****************local CSS************** -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/start_quiz.css') }}">
</head>

<body>
    <header>
        <div class="logo">
            <a href="{{ url_for('full_bp.home') }}" class="logo-text">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="logo">
            </a>
        </div>
    </header>
     <!-- Overlay -->
    <div class="timeup-overlay" id="timeup-quiz-overlay" style="display: none">
        <div class="message-container">
            <div class="message">Time is up!!!</div>
            <p>We are submitting your attempt, please wait...</p>
        </div>
    </div>

    <div class="content">
        <div id="start-container">
            <div class="quiz-card" data-quiz-id="{{ quiz.id }}">
                <h2 class="quiz-title">{{ quiz.title }}</h2>
                <p class="quiz-description">
                    {{ quiz.description }}
                </p>
                <div class="quiz-details">
                    <div class="detail-item question-count">
                        <i class="fas fa-list"></i>
                        {{ quiz.questions|length }} {% if quiz.questions|length > 1 %}Questions{% else %}Question{%
                        endif %}
                    </div>
                    <div class="detail-item question-duration">
                        <i class="fas fa-clock"></i>
                        {{ quiz.duration }} {% if quiz.duration > 1 %}Minutes{% else %}Minute{% endif %}
                    </div>
                    <div class="detail-item quiz-category">
                        <i class="fas fa-tag"></i>
                        {{ quiz.related_category.name if quiz.related_category else None }}
                    </div>
                </div>
                <div class="meta">
                    <div class="quiz-meta">
                        <div class="author">
                            {% if quiz.user.profile_picture %}
                            <img class="author-profile" src="{{ quiz.user.profile_picture }}" alt="Profile Picture">
                            {% else %}
                            <img class="author-profile"
                                src="{{ url_for('static', filename='images/default_image.jpg') }}"
                                alt="Default Profile">
                            {% endif %}
                            <!-- <i class="fas fa-user"></i> -->
                            <span class="ellipsis">{{ quiz.user.first_name ~ " " ~ quiz.user.last_name }}</span>
                        </div>
                        <span class="dot"></span>
                        <div class="time-created">{{ quiz.created_at|timeago }}</div>
                    </div>
                </div>
                <div class="quiz-actions">
                    <button type="button" title="Start Quiz" id="start-quiz-btn" class="btn">
                        <i class="fas fa-play">
                        </i>Start Quiz
                        <div class="loader"></div>
                    </button>
                </div>
            </div>
        </div>
        <div class="hidden" id="quiz-container" data-quiz-id="{{ quiz_id }}">
            <div id="timer">Time Left: **:**</div>
            <div class="header">
                <h1 class="quiz-title">{{ title }}</h1>
            </div>
            <div class="container">
                <!-- Question Box -->
                <div id="question-box">
                    <textarea class="question" id="question" name="question" placeholder="Question appears here"
                        readonly>
                </textarea>
                </div>
                <div class="options-container" id="options-container">
                </div>
                <!-- Navigation and Submit -->
                <div class="footer">
                    <button id="prev-btn" class="btn">Previous</button>
                    <button id="next-btn" class="btn">Next</button>
                    <button id="submit-btn" class="btn">
                        Submit
                        <div class="loader"></div>
                    </button>
                </div>
            </div>
            <h4 class="question-list">Questions</h4>
            <div id="question-index"></div>
            <div id="unanswered-modal" class="modal">
                <div class="modal-content">
                    <h2>Some questions are unanswered!</h2>
                    <p>Do you still want to submit the quiz?</p>
                    <button class="modal-button" id="submit-quiz-btn">Yes, Submit</button>
                    <button class="modal-button" id="cancel-submit-btn">No, Cancel</button>
                </div>
            </div>
        </div>
    </div>
    <script type="module" src="{{ url_for('static', filename='js/start_quiz.js') }}"></script>
</body>

</html>