{% extends "base_user_dashboard.html" %}
{% block styles_content %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/user_profile.css') }}">
{% endblock styles_content %}

{% block main_content %}
<main>
    <div class="profile-container">
        <div class="profile-pic">
            {% if user.profile_picture %}
            <img src="{{ user.profile_picture }}" alt="Profile Picture">
            {% else %}
                <img src="{{ url_for('static', filename='images/default_image.jpg') }}" alt="Default Profile">
            {% endif %}
            <div class="camera-icon">&#128247;</div>
        </div>
        <div class="role user">User</div>
        <div class="info">
            <label>Email:</label>
            <input type="text" value="{{ user.email }}" readonly>
        </div>
        <div class="info">
            <label>Username:</label>
            <input type="text" value="{{ user.username }}">
        </div>
        <div class="info">
            <label>First Name:</label>
            <input type="text" value="{{ user.first_name }}">
        </div>
        <div class="info">
            <label>Last Name:</label>
            <input type="text" value="{{ user.last_name }}">
        </div>
        <button class="save-btn">Save</button>
    </div>

    <!-- Image Upload and Crop Modal -->
    <div id="crop-modal" class="crop-modal">
        <div class="crop-modal-sub">
            <div class="crop-modal-sub-inner">
                <h3>Adjust Your Photo</h3>
                <div id="crop-container"></div>
                <button id="save-crop-btn">Save</button>
                <button id="cancel-crop-btn">Cancel</button>
            </div>
        </div>
    </div>
    <input type="file" id="image-upload" accept="image/*" style="display: none;">
</main>
{% endblock main_content %}

{% block scripts %}
<script type="module" src="{{ url_for('static', filename='js/user_profile.js') }}"></script>
{% endblock scripts %}